.problems{
  background: url("../../../images/material/problem-bg.png");
  background-size: cover;

  .problems-wrapper{
    h2{
      font-size: 29px;
      text-transform: uppercase;
      text-align: center;
      line-height: 100%;
      margin-bottom: 50px;
      font-weight: 900;
    }

    .problems-boxes{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;
      font-family: "Raleway", sans-serif;
      font-weight: 700;

      .problems-box{
        width: 360px;
        background: rgba(163, 91, 255, 0.2);
        border: 0.88px solid #A35BFF;

        .problems-box-descr{
          padding: 10px 30px;
        }
      }
    }
  }
}