.header {
  background: #00051F;
  padding: 30px 0;
  color: #fff;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
.header .header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .header .header-row {
    display: block;
  }
}
.header .header-row ul {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .header .header-row ul {
    display: block;
    margin-top: 15px;
  }
}
.header .header-row ul li:not(:last-child) {
  margin-right: 30px;
}
@media screen and (max-width: 1024px) {
  .header .header-row ul li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.header .header-row ul .header-login {
  background: rgba(182, 36, 205, 0.3019607843);
  border: 1px solid #FD60D3;
  padding: 3px 20px;
}
@media screen and (max-width: 1024px) {
  .header .header-row ul .header-login {
    display: inline-block;
    margin-right: 10px;
  }
}
.header .header-row ul .header-signin {
  background: #C110CD;
  padding: 3px 20px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 1024px) {
  .header .header-row ul .header-signin {
    display: inline-block;
  }
}

.main-nav {
  overflow: hidden;
  transition: height 0.4s;
}

.nav-btn {
  width: 44px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  background: url("../../../images/icons/burger.svg") no-repeat;
}
@media screen and (max-width: 1024px) {
  .nav-btn {
    display: block;
  }
}

.nav-hidden {
  height: auto;
}
@media screen and (max-width: 1024px) {
  .nav-hidden {
    height: 0;
  }
}

.hero {
  background: url("../images/material/hero-bg-lines.svg"), url("../images/material/hero-bg.png");
  padding: 150px 0;
  color: #fff;
}
.hero .hero-sides {
  display: flex;
  align-items: center;
}
.hero .hero-sides .hero-left {
  width: 605px;
}
@media screen and (max-width: 700px) {
  .hero .hero-sides .hero-left {
    text-align: center;
  }
}
.hero .hero-sides .hero-left h1 {
  font-size: 35px;
  line-height: 120%;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  font-weight: 800;
}
.hero .hero-sides .hero-left .hero-auth {
  display: flex;
  margin-top: 20px;
}
@media screen and (max-width: 700px) {
  .hero .hero-sides .hero-left .hero-auth {
    justify-content: center;
  }
}
.hero .hero-sides .hero-left .hero-auth button {
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
.hero .hero-sides .hero-left .hero-auth #hero-auth-login {
  background: #C110CD;
  padding: 15px 30px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  margin-right: 30px;
}
.hero .hero-sides .hero-left .hero-auth #hero-auth-signin {
  text-decoration: underline;
}
@media screen and (max-width: 700px) {
  .hero .hero-sides .hero-right {
    display: none;
  }
}

.problems {
  background: url("../images/material/problem-bg.png");
  background-size: cover;
}
.problems .problems-wrapper h2 {
  font-size: 29px;
  text-transform: uppercase;
  text-align: center;
  line-height: 100%;
  margin-bottom: 50px;
  font-weight: 900;
}
.problems .problems-wrapper .problems-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.problems .problems-wrapper .problems-boxes .problems-box {
  width: 360px;
  background: rgba(163, 91, 255, 0.2);
  border: 0.88px solid #A35BFF;
}
.problems .problems-wrapper .problems-boxes .problems-box .problems-box-descr {
  padding: 10px 30px;
}

.schedule {
  background: url("../images/material/schedule-bg.png");
  padding: 80px 0;
}
.schedule h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 800;
  text-transform: uppercase;
}
.schedule .schedule-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.schedule .schedule-boxes .schedule-box {
  background: url("../images/material/schedule-boxes-bg.svg") no-repeat;
  width: 333px;
  padding: 50px 0;
}
@media screen and (max-width: 480px) {
  .schedule .schedule-boxes .schedule-box {
    width: 100%;
  }
}
.schedule .schedule-boxes .schedule-box .schedule-box-img {
  width: 206px;
  height: 206px;
  background: #400DAD;
  border-radius: 100%;
  display: flex;
  margin: 0 auto 40px;
}
.schedule .schedule-boxes .schedule-box .schedule-box-img img {
  margin: auto;
  filter: drop-shadow(0 0 0.75rem #fff);
}
.schedule .schedule-boxes .schedule-box .schedule-box-text {
  text-align: center;
}
.schedule .schedule-boxes .schedule-box .schedule-box-text h5 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
}
.schedule .schedule-boxes .schedule-box .schedule-box-text p {
  font-family: "Raleway", sans-serif;
}

.forms {
  background: url("../images/material/forms-circle.png") no-repeat, url("../images/material/forms-bg.png"), #dbd7f3;
  padding: 300px 0 100px;
}
.forms form {
  display: flex;
}
.forms form .forms-wrapper {
  margin-left: auto;
  color: #fff;
}
@media screen and (max-width: 640px) {
  .forms form .forms-wrapper {
    margin-left: 0;
    width: 100%;
  }
}
.forms form .forms-wrapper h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 800;
}
.forms form .forms-wrapper .form-el {
  font-family: "Raleway", sans-serif;
}
.forms form .forms-wrapper .form-el input {
  margin-bottom: 30px;
  padding: 15px 20px;
  width: 500px;
}
@media screen and (max-width: 640px) {
  .forms form .forms-wrapper .form-el input {
    width: 100%;
  }
}
.forms form .forms-wrapper button {
  text-transform: uppercase;
  color: #fff;
  width: 500px;
  background: #C110CD;
  padding: 17px 0;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 640px) {
  .forms form .forms-wrapper button {
    width: 100%;
  }
}

.footer {
  padding: 40px 0;
  background: #00051F;
  font-family: "Raleway", sans-serif;
}
.footer .footer-wrapper {
  display: flex;
  color: #fff;
  justify-content: space-between;
  text-transform: uppercase;
}
@media screen and (max-width: 840px) {
  .footer .footer-wrapper {
    display: block;
  }
}
.footer .footer-wrapper .footer-ul {
  display: flex;
}
@media screen and (max-width: 840px) {
  .footer .footer-wrapper .footer-ul {
    display: block;
  }
}
.footer .footer-wrapper .footer-ul li:not(:last-child) {
  margin-right: 60px;
}

.user-sidebar {
  width: 20%;
  padding: 80px 20px 80px 0;
}
.user-sidebar h2 {
  font-size: 36px;
  margin-bottom: 80px;
  text-transform: uppercase;
  font-weight: 700;
}
.user-sidebar ul {
  list-style: inside;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 300;
}
.user-sidebar ul li:not(:last-child) {
  margin-bottom: 40px;
}
.user-sidebar ul .user-sidebar-active {
  border-right: 3px solid #C110CD;
  font-weight: 600;
}

.user-wrapper {
  display: flex;
}

.user-main-page {
  padding: 80px 150px;
  width: 80%;
  background-color: #170c5f;
  font-family: "Raleway", sans-serif;
}
.user-main-page .user-profile-info {
  display: flex;
  height: 100vh;
}
.user-main-page .user-profile-info .user-profile-pic img {
  border-radius: 50%;
}
.user-main-page .user-profile-info .user-profile-text {
  padding: 0 70px;
  color: #fff;
}
.user-main-page .user-profile-info .user-profile-text span {
  display: block;
  margin-top: 8px;
}
.user-main-page .user-profile-info .user-profile-text .user-profile-name {
  font-size: 28px;
  font-weight: 700;
}
.user-main-page .user-profile-info .user-profile-text .user-profile-job-faculty {
  font-size: 18px;
}
.user-main-page .user-profile-info .user-profile-text button {
  color: #fff;
  text-transform: uppercase;
  background: #C110CD;
  padding: 10px 70px;
  margin-top: 8px;
}

.user-teams-create-team {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.user-teams-create-team h4 {
  font-size: 34px;
  margin-bottom: 30px;
  font-weight: 800;
}
.user-teams-create-team p {
  font-family: "Raleway", sans-serif;
}
.user-teams-create-team button {
  text-transform: uppercase;
  padding: 10px 100px;
  background: #C110CD;
  margin-top: 20px;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.user-teams-teams {
  margin-top: 200px;
}
.user-teams-teams h4 {
  font-size: 27px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  margin-bottom: 30px;
}
.user-teams-teams .user-teams-teams-boxes .user-teams-teams-box {
  display: flex;
  background: #A35BFF;
  padding: 30px;
  align-items: center;
  margin-bottom: 60px;
}
.user-teams-teams .user-teams-teams-boxes .user-teams-teams-box .user-teams-teams-box-pic {
  margin-right: 20px;
}
.user-teams-teams .user-teams-teams-boxes .user-teams-teams-box .user-teams-teams-box-info h5 {
  font-size: 28px;
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 15px;
}
.user-teams-teams .user-teams-teams-boxes .user-teams-teams-box .user-teams-teams-box-info span {
  font-size: 14px;
}
.user-teams-teams .user-teams-teams-boxes .user-teams-teams-box .user-teams-teams-box-btns {
  margin-left: auto;
}
.user-teams-teams .user-teams-teams-boxes .user-teams-teams-box .user-teams-teams-box-btns span {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
.user-teams-teams .user-teams-teams-boxes .user-teams-teams-box .user-teams-teams-box-btns button {
  margin: 0 auto;
  padding: 10px 60px;
  background: #C110CD;
  color: #fff;
  text-transform: uppercase;
}

.progress-container {
  position: relative;
  width: 100px;
  height: 100px;
}

.progress-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  padding: 20px 10px;
  border-radius: 100%;
  background-color: #170c5f;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
